<div class="container">
<p id="notice"><%= notice %></p>

<h1>Profile</h1>
<table >
  <thead>
    <tr>
      
      <% if user_signed_in? && @user.profile %>
        <th>Welcome</th>
        <% else%>
        <th>Create a new profile</th>
      <% end %>
      
      <th colspan="3"></th>
    </tr>
  </thead>

    <tbody >
        <tr class="profile-classroom">
          <td><%= image_tag @profile_view.picture, :class => "profile_image" if @profile_view.picture.attached? %></td>
          <td><%= @profile_view.name %></td>
          <td><%= @profile_view.bio %></td>
          <td><%= link_to 'Edit', edit_profile_path(@profile_view), :class => "btn btn-primary" %></td>
        </tr>
      
    </tbody>
  </table>
  <table>
    <% if %>


    <% end %>
  </table>

  <br>

<% if @profile_view %>
 
<% else %>
  <%= link_to 'New Profile', new_profile_path, :class => "btn btn-primary" %>
<% end %>

<% if current_user.profile.classroom.present? %>
  <%= link_to 'Go to Classroom', classrooms_path, :class => "btn btn-primary" %>
<% else %>
  <%= link_to 'Create a classroom', new_classroom_path, :class => "btn btn-primary" %>
<% end %>
  <%= link_to 'View booked lessons', bookeds_path, :class => "btn btn-secondary" %>
  <%= link_to 'Book more lessons', lessons_path, :class => "btn btn-primary" %>

</div>