<div class="container">
<p id="notice"><%= notice %></p>

<h1>All Lessons</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <% if current_user.profile.classroom.lessons.ids.include?(lesson.id) %>

        <% else %>
        <td><%= image_tag lesson.picture, :class => "lesson_image" if lesson.picture.attached? %></td>
        <td><%= lesson.description %></td>
        <td><%= lesson.date %></td>
        <td><%= lesson.start_time %></td>
        <td><%= lesson.end_time %></td>
        <td>$<%= lesson.price %></td>
        <td><% @lesson_id = lesson.id %></td>

        <td><%= link_to 'Book it now', new_booked_path(:id => @lesson_id), :class => "actions btn btn-primary" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
  
</table>

<br>

<%= link_to 'Back', root_path, method: :get, :class => "actions btn btn-primary"  %>
</div>