<div class="container">
<p id="notice"><%= notice %></p>

<h1>All Lessons</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= image_tag lesson.picture, :class => "lesson_image" if lesson.picture.attached? %></td>
        <td><%= lesson.description %></td>
        <td><%= lesson.date %></td>
        <td><%= lesson.start_time %></td>
        <td><%= lesson.end_time %></td>
        <td>$<%= lesson.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_path, :class => "actions btn btn-primary"  %>
</div>