<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <td><%= image_tag @lesson.picture, :class => "lesson_image" if @lesson.picture.attached? %></td>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lesson.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @lesson.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @lesson.end_time %>
</p>

<%= link_to 'Book it', new_booked_path, method: :get, :class => "btn btn-secondary"%>
<%= link_to 'Back', lessons_path, method: :get, :class => "btn btn-secondary"%>
