
<nav class="navi navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
    <ul class="navbar-nav">
      <li class="navbar-brand">Session it </li>
      <li class="nav-item">
        <%= link_to "Home", root_path, method: :get, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Profile", profiles_path, method: :get, :class => "nav-link" %>
      </li>
      <% if user_signed_in? %>
      <% if current_user.profile.present? %>
      <% if current_user.profile.classroom.present? %>
      <li class="nav-item">
          <%= link_to "Classroom", classrooms_path, method: :get, :class => "nav-link" %>
      </li>
      <% end %>
      <% end %>
      <% end %>
      
      <% if user_signed_in? == false %>
        <li class="nav-item">
          <%= link_to "Log in", new_user_session_path, method: :get, :class => "btn btn-outline-light my-2 my-sm-0 ml-5 px-3 testing" %>
        </li>
        <% else %>
        <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => "btn btn-outline-light my-2 my-sm-0 ml-3" %>
        </li>
        <% end %>
      </li>
    </ul>
  </div>
</nav>